body {
	font-family: iranyekan ,roboto ,Arial !important;
	direction: rtl;
	background-color: #cdcdcd;
	margin: 0;
}
h1, h2, h3, h4, h5, h6,input, textarea {
	font-family: iranyekan ,roboto ,Arial !important;
}